body {
    margin: 0;
    overflow: hidden; /* Evita que aparezcan barras de desplazamiento */
    background-image: url('assets/paleta 2.png');
    background-size: cover;
}

canvas {
    display: block; /* Asegura que el canvas ocupe el espacio correcto sin márgenes extra */
}
